<div [formGroup]="formGroup">
  <div class="form-group row my-0">
    <label for="productType" class="col-5 col-form-label">Тип продукции</label>
    <div class="col-7">
      <ng-select id="productType"
                 class="form-control input-sm no-borders"
                 [items]="items"
                 bindValue="id"
                 notFoundText="Тип не найден"
                 placeholder="Выберите продукцию"
                 [formControlName]="formControlName"
                 (change)="onChange()"
                 [ngClass]="{ 'is-invalid': formGroup.get('productType').invalid && formGroup.get('productType').touched }">
        <ng-template ng-label-tmp let-item="item">
          <app-product-name [productType]="item"></app-product-name>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <app-product-name [productType]="item"></app-product-name>
        </ng-template>
      </ng-select>
      <span *ngIf="formGroup.get('productType').invalid && formGroup.get('productType').touched" class="invalid-feedback">
        <span>обязтельное поле</span>
      </span>
    </div>
  </div>
</div>