<div class="container-fluid">
  <button type="button" class="btn btn-outline-dark btn-sm">
    <span class="material-icons">arrow_back</span>
    Предыдущий период
  </button>
  <button class="btn btn-outline-dark btn-sm" (click)="openAddRollTypeModal()">
    <span class="material-icons">add</span>
  </button>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr class="table-header">
          <th scope="col" class="row-name">Наименование</th>
          <th scope="col">Цвет</th>
          <th scope="col">Толщина</th>
          <th scope="col">Вес</th>
          <th scope="col">Остаток</th>
          <th scope="col" *ngFor="let day of dateHeader">
            {{ day.getDate() }}
          </th>
          <th scope="col">Всего</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
        let rollInfo of sortByColor(rollsInfo)">
          <th scope="row" class="row-name">
            {{ rollInfo.rollType.name }}
          </th>
          <td>
            <span class="filled-circle" [ngStyle]="{ 'background-color': rollInfo.rollType.colorCode}"></span>
          </td>
          <td>
            {{ rollInfo.rollType.thickness }}
          </td>
          <td>
            {{ rollInfo.rollType.weight }}
          </td>
          <td>
            {{ rollInfo.restRollLeftover.amount }}
          </td>
          <td *ngFor="let batch of getBatches(rollInfo.rollBatches); index as i" (click)="openCreateRollOperationModal(batch, i, rollInfo.rollType.id)">
            <div [ngClass]="{'roll-ready': isReady(batch)}">
              {{ getBatch(batch) }}
            </div>
          </td>
          <td>
            {{ rollInfo.totalRollLeftover.amount }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
