.modal-body {
    max-height: 70vh;
    min-width: 480px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9rem;
}

table th, td {
    font-size: 0.9rem;
}

.scrolling-tbody {
    display: block;
    max-height: 40vh;
    overflow-y: auto;
}

.btn-outline {
    border: none;
}

.mi-sm {
    font-size: 18px;
}

.cell-center {
    padding: 0px;
    padding-top: 8px;
}