<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-outline-dark btn-sm" (click)="openAddProductTypeModal()">
        <span class="material-icons">add</span>
      </button>
    </div>

    <div class="col-md-3 offset-md-4">
      <form [formGroup]="form">
        <div class="form-row">
          <div class="pl-2 pr-2 pt-1 pb-1 pt-md-0 pb-md-0">
            <div class="input-group">
              <input type="date" class="form-control form-control-sm" id="daylyDate" formControlName="daylyDate" [ngClass]="{
  'is-invalid': form.get('daylyDate').invalid,
  'is-valid': form.get('daylyDate').valid && form.get('daylyDate').touched
  }">
              <div class="invalid-feedback" *ngIf="form.get('daylyDate').invalid">
                <span *ngIf="form.get('daylyDate').errors['required']">Не может быть пустым!</span>
              </div>
            </div>
          </div>

          <div class="pl-2 pr-2 pt-1 pb-1 pt-md-0 pb-md-0">
            <button type="submit" class="btn btn-outline-dark btn-sm" [disabled]="form.invalid" (click)="loadTable()">Сменить дату</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="table-responsive mt-2">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr class="table-header">
          <th scope="col" rowspan="2" class="align-middle">Наименование</th>
          <th scope="col" rowspan="2" class="align-middle">Вес</th>
          <th scope="col" rowspan="2" class="align-middle">Цвет</th>
          <th scope="col" rowspan="2" class="align-middle">Остаток на {{ fromDate | moment:'DD MMMM' }}, тыс.шт.</th>
          <th scope="col" rowspan="1" colspan="2">Произведено тыс.шт.</th>
          <th scope="col" rowspan="1" colspan="2">Реализация тыс.шт.</th>
          <th scope="col" rowspan="2" class="align-middle">Остаток на {{ toDate | moment:'DD MMMM' }}, тыс.шт.</th>
        </tr>
        <tr class="table-header">
          <th scope="col">{{ daylyDate | moment:'DD MMMM' }}</th>
          <th scope="col">{{ daylyDate | moment:'MMMM' }}</th>
          <th scope="col">{{ daylyDate | moment:'DD MMMM' }}</th>
          <th scope="col">{{ daylyDate | moment:'MMMM' }}</th>
        </tr>
      </thead>
      <tbody *ngFor="let infoArray of sortByColor(productsInfo)">
        <tr *ngFor="let productInfo of sortByNameAndWeight(infoArray)" [contextMenu]="productsMenu" [contextMenuSubject]="productInfo.type">
          <th scope="row" class="row-name">
            {{ productInfo.type.name }}
          </th>
          <th scope="row" class="row-name">
            {{ productInfo.type.weight }}
          </th>
          <th scope="row" class="row-name">
            <span class="filled-circle" [ngStyle]="{ 'background-color': productInfo.type.colorCode }"></span>
          </th>
          <td>
            {{ (productInfo.restLeftover.amount) | exponent }}
          </td>
          <td (click)="openAddProductOperation(productInfo.type.id, 'MANUFACTURED')">
            {{ productInfo.dayBatch.manufacturedAmount | empty | exponent }}
          </td>
          <td>
            {{ productInfo.monthBatch.manufacturedAmount | empty | exponent }}
          </td>
          <td (click)="openAddProductOperation(productInfo.type.id, 'SOLD')">
            {{ productInfo.dayBatch.soldAmount | empty | exponent }}
          </td>
          <td>
            {{ productInfo.monthBatch.soldAmount | empty | exponent }}
          </td>
          <td>
            {{ productInfo.currentLeftover.amount | exponent }}
          </td>
        </tr>
        <tr>
          <th scope="row" class="row-name" colspan="3">Итого</th>
          <td *ngFor="let total of getSectionTotals(infoArray)">
            {{ total | exponent }}
          </td>
        </tr>
        <td class="empty-row"></td>
      </tbody>
      <tbody *ngIf="productsInfo.length != 0">
        <tr>
          <th scope="row" class="row-name" colspan="3">Всего</th>
          <td *ngFor="let total of getTotals()">
            {{ total | exponent }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<context-menu #productsMenu>
  <ng-template contextMenuItem let-item (execute)="openEditProductTypeModal($event.item)">
    Редактировать продукцию
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item (execute)="openDeleteProductTypeModal($event.item)">
    Удалить продукцию
  </ng-template>
</context-menu>
