<div class="container-fluid mt-2">
  <button class="btn btn-outline-dark btn-sm" (click)="openAddProductTypeModal()">
    <span class="material-icons">add</span>
  </button>
  <div class="table-responsive mt-2">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr class="table-header">
          <th scope="col" rowspan="2" class="align-middle">Наименование</th>
          <th scope="col" rowspan="2" class="align-middle">Вес</th>
          <th scope="col" rowspan="2" class="align-middle">Цвет</th>
          <th scope="col" rowspan="2" class="align-middle">Остаток на начало месяца, тыс.шт.</th>
          <th scope="col" rowspan="1" colspan="2">Произведено тыс.шт.</th>
          <th scope="col" rowspan="1" colspan="2">Реализация тыс.шт.</th>
          <th scope="col" rowspan="2" class="align-middle">Текущий период, тыс.шт.</th>
        </tr>
        <tr class="table-header">
          <th scope="col">за сутки</th>
          <th scope="col">за месяц</th>
          <th scope="col">за сутки</th>
          <th scope="col">за месяц</th>
        </tr>
      </thead>
      <tbody *ngFor="let infoArray of sortByColor(productsInfo)">
        <tr *ngFor="let productInfo of sortByNameAndWeight(infoArray)" [contextMenu]="productsMenu" [contextMenuSubject]="productInfo.type">
          <th scope="row" class="row-name">
            {{ productInfo.type.name }}
          </th>
          <th scope="row" class="row-name">
            {{ productInfo.type.weight }}
          </th>
          <th scope="row" class="row-name">
            <span class="filled-circle" [ngStyle]="{ 'background-color': productInfo.type.colorCode }"></span>
          </th>
          <td>
            {{ (productInfo.restLeftover.amount) | exponent }}
          </td>
          <td (click)="openAddProductOperation(productInfo.type.id, 'MANUFACTURED')">
            {{ productInfo.dayBatch.manufacturedAmount | empty | exponent }}
          </td>
          <td>
            {{ productInfo.monthBatch.manufacturedAmount | empty | exponent }}
          </td>
          <td (click)="openAddProductOperation(productInfo.type.id, 'SOLD')">
            {{ productInfo.dayBatch.soldAmount | empty | exponent }}
          </td>
          <td>
            {{ productInfo.monthBatch.soldAmount | empty | exponent }}
          </td>
          <td>
            {{ productInfo.currentLeftover.amount | exponent }}
          </td>
        </tr>
        <tr>
          <th scope="row" class="row-name" colspan="3">Итого</th>
          <td *ngFor="let total of getSectionTotals(infoArray)">
            {{ total | exponent }}
          </td>
        </tr>
        <td class="empty-row"></td>
      </tbody>
      <tbody *ngIf="productsInfo.length != 0">
        <tr>
          <th scope="row" class="row-name" colspan="3">Всего</th>
          <td *ngFor="let total of getTotals()">
            {{ total | exponent }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<context-menu #productsMenu>
  <ng-template contextMenuItem let-item (execute)="openEditProductTypeModal($event.item)">
    Редактировать продукцию
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item (execute)="openDeleteProductTypeModal($event.item)">
    Удалить продукцию
  </ng-template>
</context-menu>
