.container-fluid {
    height: calc(100% - 68px - 1.4rem);
}

#user-list-container {
    background-color: #ddd;
}

#user-container {
    border: 2px solid #ddd;
}

#user-list-container, #user-container {
    margin-top: 0.7rem;
}

#user-list-container, #user-container, .card {
    border-radius: 10px;   
}

#user-list-container-overflow {
    overflow-y: auto;
}
