.modal.in {
    display: block;
}

.modal-dialog {
    min-width: 40vw;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

.input-sm.ng-select {
    margin: 0;
    padding: 0;
}

ng-select.no-borders>div {
    border: 0;
    outline: none;
}

.btn-sm {
    height: 2.4rem;
}

.btn-outline {
    border: none;
}

.mi-sm {
    font-size: 18px;
}

table th, td {
    font-size: 0.9rem;
}

.filled-circle {
    padding: 0rem 0.5rem;
    border-width: 0.04rem;
    font-size: 12px;
}

.custom-checkbox {
    transform: scale(1.3);
}