<div class="container-fluid">
  <table class="table table-bordered table-sm border-0">
    <thead>
      <th class="border-top-0 border-left-0">
        Плановое производство рулонов
      </th>
      </thead>
    <tbody>
      <tr *ngFor="let item of data.operations; last as isLast" (click)="onSelect(item)">
        <td class="text-center t-75 border-left-0" [ngClass]="{'border-bottom-0': isLast}">
          {{ item.rollAmount | exponent }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
