<div class="card mt-1">
  <div class="btn p-0" (click)="onClick()">
    <div class="card-body">
      <div class="row">
        <div class="col-3 p-0">
          <!-- todo change img src -->
          <img src="https://www.gigansk.ru/local/templates/gigansk/img/pers_icon.png"
               alt="Пользователь"
               class="img-fluid my-auto ml-3">
        </div>
        <div class="col-9 text-center p-0">
          <strong>{{user.firstName}}</strong>
          <br>
          <strong>{{user.lastName}}</strong>
          <br>
          <small>{{user.username}}</small>
        </div>
      </div>
    </div>
  </div>
</div>