<div class="card mt-1 w-100">
  <div class="btn p-0" (click)="onClick()">
    <div class="card-body pt-0 pr-1">
      <div *ngIf="user.username === 'admin'" class="row mt-3"></div>
      <div *ngIf="user.username !== 'admin'" class="row mt-0 d-flex flex-column">
        <div class="col-12 align-self-end">
          <button type="button" class="close" (click)="onRemove()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-3 p-0">
          <!-- todo change img src -->
          <img src="https://www.gigansk.ru/local/templates/gigansk/img/pers_icon.png"
               alt="Пользователь"
               class="img-fluid my-auto ml-3">
        </div>
        <div class="col-9 text-center p-0">
          <strong>{{user.firstName}}</strong>
          <br>
          <strong>{{user.lastName}}</strong>
          <br>
          <small>{{user.username}}</small>
        </div>
      </div>
    </div>
  </div>
</div>