<table class="table-bordered table-striped">
  <thead>
    <tr>
      <th>
        <div class="overflow-text">
          <span>{{order.client?.name}}</span>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <div class="overflow-text">
          <span>{{order.city}}</span>
        </div>
      </th>
    </tr>
    <tr>
      <th>{{order.deliveryDate | moment:'DD.MM.YYYY'}}</th>
    </tr>
    <tr>
      <th>
        <i *ngIf="order.isImportant" class="material-icons icon-impotant">error_outline</i>
        <i *ngIf="order.isOverdue" class="material-icons icon-overdue">alarm</i>
      </th>
    </tr>
    <tr style="height: 0.2rem;"></tr>
  </thead>
  <tbody>
    <tr *ngFor="let orderItem of order.orderItemList">
      <td>{{orderItem?.amount | exponent}}</td>
    </tr>
  </tbody>
</table>