<form [formGroup]="form">
  <div class="form-group row">
    <div class="col-12">
      <label for="city"
             class="col-form-label">Укажите фактическую дату доставки</label>
      <input id="actualDeliveryDate"
             class="form-control"
             type="date"
             formControlName="actualDeliveryDate"
             max="{{now}}"
             [ngClass]="{'is-invalid': form.get('actualDeliveryDate').invalid && form.get('actualDeliveryDate').touched}">
      <span *ngIf="form.get('actualDeliveryDate').invalid && form.get('actualDeliveryDate').touched"
            class="invalid-feedback">
        <span *ngIf="form.get('actualDeliveryDate').errors['required']">Обязательное поле!</span>
      </span>
    </div>
  </div>
</form>