<div class="container-fluid mt-2">
  <div class="table-responsive">
    <table class="table table-bordered table-stripped table-sm">
      <thead>
        <tr class="table-header">
          <th scope="col" colspan="3">Продукция</th>
          <th scope="col" colspan="5">Рулон</th>
          <th scope="col" colspan="1">Норматив</th>
        </tr>
        <tr class="table-header">
          <th scope="col">Наименование</th>
          <th scope="col">Вес</th>
          <th scope="col">Цвет</th>

          <th scope="col">Примечание</th>
          <th scope="col">Толщина</th>
          <th scope="col">Вес</th>
          <th scope="col">Длина</th>
          <th scope="col">Цвет</th>

          <th scope="col"></th>
        </tr>
      </thead>

      <tbody *ngFor="let info of sortStandardsInfo(); odd as isOdd" class="table-border" [contextMenu]="standardsMenu" [contextMenuSubject]="info">
        <tr *ngFor="let roll of info.rollTypes; first as isFirst" [ngClass]="{
          'even': isOdd,
          'odd': !isOdd
        }">
          <th scope="row" class="row-name align-middle w-5" [attr.rowspan]="info.rollTypes.length" *ngIf="isFirst">{{ info.productType.name }}</th>
          <th scope="row" class="row-name align-middle w-3" [attr.rowspan]="info.rollTypes.length" *ngIf="isFirst">{{ info.productType.weight }}</th>
          <th scope="row" class="row-name align-middle w-3" [attr.rowspan]="info.rollTypes.length" *ngIf="isFirst">
            <span class="filled-circle" [ngStyle]="{'background-color': info.productType.colorCode}" *ngIf="isFirst"></span>
          </th>
          <td>{{ roll.note }}</td>
          <td>{{ roll.thickness }}</td>
          <td>
            <span *ngIf="roll.minWeight">{{ roll.minWeight }}-{{ roll.maxWeight }}</span>
          </td>
          <td>{{ roll.length }}</td>
          <td class="w-3">
            <span *ngIf="roll.colorCode" class="filled-circle" [ngStyle]="{'background-color': roll.colorCode}"></span>
          </td>
          <td class="align-middle" [attr.rowspan]="info.rollTypes.length" *ngIf="isFirst">
            {{ info.standardResponse.norm }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<context-menu #standardsMenu>
  <ng-template contextMenuItem let-item (execute)="openCreateStandardModal($event.item)" [enabled]="isStandardMissing">
    Создать норматив
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item (execute)="openEditStandardModal($event.item)" [enabled]="isStandardExist">
    Редактировать норматив
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item (execute)="openDeleteStandardModal($event.item)" [enabled]="isStandardExist">
    Удалить норматив
  </ng-template>
</context-menu>
