.w-3 {
    width: 3%;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

td, th {
    white-space: nowrap;
}

.odd>td, .even>td {
    border-top: none!important;
    border-bottom: none!important;
}

.table-border {
    border: 1px solid #e0e0e0!important;
    position: relative!important;
  }
