<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-1">
      <button class="btn btn-outline-dark btn-sm">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-2" style="padding-right: 0px;">
      <table class="header-table table-bordered">
        <tr>
          <th class="align-middle table-header">Клиент</th>
        </tr>
        <tr>
          <th class="align-middle table-header">Город</th>
        </tr>
        <tr>
          <th class="align-middle table-header">Дата доставки</th>
        </tr>
        <tr>
          <th class="align-middle table-header">Статус</th>
        </tr>
      </table>
    </div>
    <div class="col-10" style="padding-left: 0px;">
      <div id="data-table-container">
        <div *ngFor="let orderDetails of orderDetailses | async">
          <app-order [order]="orderDetails"></app-order>
        </div>
      </div>
    </div>    
  </div>
</div>