#data-table-container {
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
    display: flex;
}

.row {
    margin-top: 8px;
}

.header-table {
    width: 100%;
}

.header-table tr {
    height: 1.5rem;
}