table {
    empty-cells: show;
}

table tr {
    height: 1.9rem;
}

table td, table th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 3rem;
}

table td:hover, table th:hover {
    overflow: visible;
}

#table-container {
    display: flex;
    position: left;
    margin-right: 5px;
}

#product-table-container {
    min-width: 12rem;
    margin-right: 0.2rem;
}

#orders-table-container {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    margin: 0 0.2rem;
    min-width: 5rem;
}

.row {
    margin-top: 8px;
}

.filled-circle {
    padding: 0rem 0.5rem;
    border-width: 0.04rem;
    font-size: 12px;
}
