<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      <button class="btn btn-outline-dark btn-sm"
              (click)="openOrderCreate()">
        <i class="material-icons">add</i>
      </button>
    </div>
    <div class="col-1"></div>
    <div class="col-4 my-auto">
      <app-order-delivered-show></app-order-delivered-show>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="table-container">
        <div id="product-table-container">
          <table class="table-bordered">
            <tr>
              <th colspan="3"
                  class="table-header">Клиент</th>
            </tr>
            <tr>
              <th colspan="3"
                  class="table-header">Город</th>
            </tr>
            <tr>
              <th colspan="3"
                  class="table-header">Дата доставки</th>
            </tr>
            <tr>
              <th colspan="3"
                  class="table-header">Статус</th>
            </tr>
            <tr style="height: 0.2rem;"></tr>
            <div *ngIf="productTypes"></div>
            <tr *ngFor="let productType of productTypes">
              <td>{{productType.name}}</td>
              <td>{{productType.weight}}</td>
              <td>
                <i class="filled-circle"
                   [ngStyle]="{ 'background-color': productType.colorCode }"></i>
              </td>
            </tr>
          </table>
        </div>
        <app-order-leftover-product></app-order-leftover-product>
        <div id="client-table-container">
          <div *ngFor="let order of orderList">
            <app-order [order]="order"
                       (onChange)="reloadPage()"></app-order>
          </div>
        </div>
        <app-order-leftover-product #lastLeftover
                                    [isLastLeftOver]="true"></app-order-leftover-product>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div *ngIf="isOrderCreateVisible">
  <app-order-create [clientList]="clientList"
                    [productTypeList]="productTypes"
                    (onSubmit)="onOrderCreateApply($event)"
                    (onCancel)="onOrderCreateCancel()"
                    (onClientListOpen)="openClientList()">
  </app-order-create>
</div>

<!-- Modal -->
<div *ngIf="isClientListVisible">
  <app-client-list [clientList]="clientList"
                   (onClientDelete)="reloadPage()"
                   (onCancel)="onClientListCancel()">
  </app-client-list>
</div>