<div class="container-fluid">
  <div class="row mt-3 flex-nowrap">
    <div class="col-1 p-0"></div>
    <div class="col-11 m-0 p-0">
      <div *ngFor="let hour of hours, let i = index"
           class="d-inline-block text-left date-bordered"
           style="background-color: #eee; width: 3.75vw; line-height: 100%">
        <span *ngIf="i === 0">&nbsp;
          <br>
          <small>&nbsp;</small>
        </span>
        <span *ngIf="i !== 0">
          <span [ngClass]="{'neg-ml-10': i<10, 'neg-ml-18': i>=10}">{{i}}</span>
          <br>
          <small style="margin-left: -5%">|</small>
        </span>
      </div>
    </div>
  </div>
  <div class="row mt-2 flex-nowrap"
       *ngFor="let machineNumber of [1, 2]">
    <div class="col-1 d-flex flex-column justify-content-center p-0">
      <strong style="font-size: 1.1rem"
              class="text-center">
        <span class="d-none d-md-inline">ТМ-</span>{{machineNumber}}
      </strong>
    </div>
    <div class="col-11 m-0 p-0">
      <app-machine [machineNumber]="machineNumber"></app-machine>
    </div>
  </div>
</div>