<div class="d-flex justify-content-center mt-2">
  <form class="form-inline" [formGroup]="form">
    <div class="input-group mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">от</div>
      </div>
      <input type="date" class="form-control" id="fromDate" formControlName="fromDate">
    </div>
    <div class="input-group ml-3 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">до</div>
      </div>
      <input type="date" class="form-control" id="toDate" formControlName="toDate">
    </div>

    <button type="submit" class="btn btn-outline-dark ml-3" (click)="onSubmit()">Показать</button>
  </form>
</div>
<div class="container-fluid mt-2">
  <div class="table-responsive">
    <table class="table table-bordered table-striped" *ngIf="showOperations()">
      <thead>
        <tr class="table-header">
          <th scope="col">Тип операции</th>
          <th scope="col">Дата операции</th>
          <th scope="col">Дата производства</th>
          <th scope="col">Количество</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operation of rollOperations">
          <td>{{ getOperationType(operation.operationType) }}</td>
          <td>{{ operation.operationDate }}</td>
          <td>{{ operation.manufacturedDate }}</td>
          <td>{{ operation.rollAmount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!showOperations()">
  <hr>
  <h2 class="d-flex justify-content-center">
    За данный период нет операций
  </h2>
</div>
