<div class="modal-header">
  <h4 class="modal-title">Новый рулон</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-10">
        <label for="roll-name" class="col-form-label">Название:</label>
        <input type="text" class="form-control" id="roll-name" formControlName="name"
        [ngClass]="{
          'is-invalid': form.get('name').invalid && form.get('name').touched,
          'is-valid': form.get('name').valid && form.get('name').touched
        }">
        <div class="invalid-feedback">
          Название не может быть пустым!
        </div>
      </div>
      <div class="col-md-2">
        <label for="roll-color" class="col-form-label">Цвет:</label>
        <input type="button" class="form-control" id="roll-color" formControlName="colorCode" 
        [(colorPicker)]="form.get('colorCode').value" [value]="form.get('colorCode').value"
          [style.background]="form.get('colorCode').value" [style.color]="form.get('colorCode').value" [cpOutputFormat]="'hex'" 
          [cpPosition]="'left'" [cpOKButton]="true" [cpCancelButton]="true"
          [cpPresetColors]="presetColors">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="roll-thickness" class="col-form-label">Толщина:</label>
        <input type="number" step="0.1" class="form-control" id="roll-thickness" formControlName="thickness"
        [ngClass]="{
          'is-invalid': form.get('thickness').invalid && form.get('thickness').touched,
          'is-valid': form.get('thickness').valid && form.get('thickness').touched
        }">
        <div class="invalid-feedback">
          Толщина должна быть больше {{ MIN_THICKNESS }}
        </div>
      </div>
      <div class="col-md-6">
        <label for="roll-weight" class="col-form-label">Вес:</label>
        <input type="number" step="0.1" class="form-control" id="roll-weight" formControlName="weight"
        [ngClass]="{
          'is-invalid': form.get('weight').invalid && form.get('weight').touched,
          'is-valid': form.get('weight').valid && form.get('weight').touched
        }">
        <div class="invalid-feedback">
          Вес должен быть больше {{ MIN_WEIGHT }}
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('cancel')">Отмена</button>
  <button type="button" class="btn btn-outline-dark" (click)="createRollType()" [disabled]="form.invalid">Создать</button>
</div>
