<div class="row mt-5">
  <div class="col-5 d-flex flex-column">
    <h6 class="align-self-center">План по продукции на день</h6>
    <table class="table table-sm align-middle">
      <thead>
        <tr>
          <th>#</th>
          <th>Продукция</th>
          <th>План</th>
          <th>Распределено</th>
          <th>Остаток</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of dailyPlans; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ productTypes[i]?.name }} &nbsp;
            <i class="filled-circle"
               [ngStyle]="{ 'background-color': productTypes[i]?.colorCode }"></i>
            &nbsp; {{ productTypes[i]?.weight }}
          </td>
          <td>{{ plan.manufacturedAmount | exponent }}</td>
          <td>{{ plan.productToMachinePlane | exponent }}</td>
          <td class="">
            <span *ngIf="amountDiff(plan) === 0"> 0.000 </span>
            <button *ngIf="amountDiff(plan) !== 0"
                    class="btn btn-sm w-100"
                    [ngClass]="{ 'btn-outline-danger': amountDiff(plan) > 0, 'btn-outline-success': amountDiff(plan) < 0 }"
                    style="font-size: 0.7rem">
              <span *ngIf="amountDiff(plan) > 0">- {{ amountDiff(plan) | exponent }}</span>
              <span *ngIf="amountDiff(plan) < 0">+ {{ (-1)*amountDiff(plan) | exponent}}</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>