<table class="table-bordered table-striped">
  <thead>
    <tr *ngIf="isLastLeftOver">
      <th rowspan="4"
          (click)="d.toggle()"> Остаток {{date | date:'dd.MM.yyyy'}}
      </th>
      <div class="datepicker-container">
        <ng-datepicker [(ngModel)]="date"
                       (ngModelChange)="fetchLeftOverList()"
                       headless="true"
                       [options]="datePickerOptions"
                       #d>
        </ng-datepicker>
      </div>
    </tr>
    <tr *ngIf="!isLastLeftOver">
      <th rowspan="4"> Остаток {{date | date:'dd.MM.yyyy'}} </th>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr style="height: 0.2rem;"></tr>
  </thead>
  <tbody>
    <tr *ngFor="let productLeftOver of sortedProductLeftOverList">
      <td>
        <span [ngClass]="{'negative-leftover': productLeftOver.amount <= 0}">
          {{productLeftOver.amount | exponent}}
        </span>
      </td>
    </tr>
  </tbody>
</table>