<div id="datepicker-container">
  <ng-datepicker [(ngModel)]="date"
                 (ngModelChange)="fetchLeftOverList()"
                 position="bottom-left"
                 headless="true"
                 [options]="datePickerOptions"
                 #dp>
  </ng-datepicker>
</div>

<table class="table-bordered table-striped">
  <thead>
    <tr *ngIf="isLastLeftOver">
      <th rowspan="4"
          (click)="dp.toggle()">
        <div class="vertical-text">Остаток {{date | date:'dd.MM.yyyy'}}</div>
      </th>
    </tr>
    <tr *ngIf="!isLastLeftOver">
      <th rowspan="4">
        <div class="vertical-text">Остаток {{date | date:'dd.MM.yyyy'}}</div>
      </th>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr style="height: 0.2rem;"></tr>
  </thead>
  <tbody>
    <tr *ngFor="let productLeftOver of sortedProductLeftOverList">
      <td>
        <span [ngClass]="{'negative-leftover': productLeftOver.amount < 0}">
          {{productLeftOver.amount | exponent}}
        </span>
      </td>
    </tr>
  </tbody>
</table>