<div class="modal in">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Удаление Клиента</h4>
      </div>
      <div class="modal-body">
        <p>Удалить Клиента?</p>
        <p>
          <small>
            Удаление Клиента приведет к удалению всех его действующих и выполненых заказов!
          </small>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger"
                (click)="apply()">Удалить</button>
        <button class="btn btn-outline-dark"
                (click)="cancel()">Отмена</button>
      </div>
    </div>
  </div>
</div>