table {
    empty-cells: show;
    width: 3.5rem;
    position: relative;
}

table td {
    white-space: nowrap;
}

table th {
    font-weight: normal;
    text-align: center;
    transform: rotate(270deg);
}

table tr {
    height: 1.5rem;
}

.datepicker-container {
    position: absolute;
    right: 19rem;
    z-index: 1;
}

.negative-leftover {
    color: #de3163;
    font-weight: bold;
}