<div class="modal in modal-backdrop">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" *ngIf="isFetched">
      <div class="modal-header">
        <h4 *ngIf="!isUpdating" class="modal-title">Добавить план</h4>
        <h4 *ngIf="isUpdating" class="modal-title">Редактировать план</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="planForm">
            <app-product-select [formGroup]="planForm"
                                formControlName="productType"
                                [items]="dailyProductTypes"
                                (change)="setProductType()"
                                ngDefaultControl>
            </app-product-select>
            <app-roll-table #rollTable [productType$]="productType$" (changeData)="updateAmount($event)"></app-roll-table>
            <div class="form-group row my-2 bordered-top">
              <label for="amount" class="col-5 col-form-label">Количество продукции</label>
              <div class="col-7">
                <input class="form-control"
                       type="text"
                       readonly
                       [ngModel]="currentAmount | exponent"
                       formControlName="amount"
                       id="amount">
              </div>
            </div>
            <div class="form-group row bordered-top pt-2 mb-0 d-flex">
              <div class="col-4 pr-1">
                <label for="startTime" class="col-form-label">Начало</label>
                <input class="form-control" type="time" formControlName="startTime" [ngModel]="currentStartTime | date: 'HH:mm'">
              </div>
              <div class="col-1 align-self-end mx-0 px-0">
                <button type="button" class="btn btn-outline-secondary btn-sm btn-outline" (click)="changeCurrentStartTime()">
                  <i class="material-icons">add</i>
                </button>
              </div>
              <div class="col-2 align-self-end pl-0">
                <input class="form-control" type="number" formControlName="startChange">
              </div>
              <div class="col-1"></div>
              <div class="col-4">
                <label for="finishTime" class="col-form-label">Окончание</label>
                <input class="form-control" type="time" formControlName="finishTime" [ngModel]="currentFinishTime | date: 'HH:mm'" readonly>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-dark" (click)="onSubmit()">Сохранить</button>
        <button class="btn btn-outline-dark" (click)="onCancel()">Отмена</button>
      </div>
    </div>
  </div>
</div>