<div class="modal in">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Список клиентов</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-10">
                <label for="name"
                       class="col-form-label">
                  <span *ngIf="!isEditOperation()">Добавить клиентa:</span>
                  <span *ngIf="isEditOperation()">Изменить информацию о клиенте:</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <input id="name"
                       class="form-control"
                       type="text"
                       placeholder="Введите наименование клиента"
                       formControlName="name"
                       [ngClass]="{
                            'is-invalid': form.get('name').invalid && form.get('name').touched,
                            'is-valid': !form.get('name').invalid && form.get('name').touched}">
                <span *ngIf="form.get('name').invalid && form.get('name').touched"
                      class="invalid-feedback">
                  <span *ngIf="form.get('name').errors['required']">Поле не может быть пустым.</span>
                  <span *ngIf="form.get('name').errors['uniqueName']">Наименование уже существует.</span>
                </span>
              </div>
              <div class="col-2">
                <button class="btn btn-outline-secondary btn-sm btn-outline"
                        (click)="saveOrUpdateClient()"
                        [disabled]="form.invalid">
                  <i class="material-icons">done</i>
                </button>
              </div>
            </div>
          </form>
          <hr>
          <table class="table table-hover">
            <thead class="thead-light">
              <tr class="d-flex">
                <th class="col-1">#</th>
                <th class="col-9 text-left">Наименование</th>
                <th class="col-2"
                    colspan="2"></th>
              </tr>
            </thead>
            <tbody class="scrolling-tbody">
              <tr *ngFor="let client of clientList; let i = index"
                  class="d-flex">
                <td align="cell-center"
                    class="col-1">{{i+1}}</td>
                <td align="cell-center"
                    class="col-9 text-left">{{client.name}}</td>
                <td class="col-1 cell-center">
                  <button class="btn btn-outline-secondary btn-sm btn-outline"
                          (click)="prepareToEdit(i)">
                    <i class="material-icons mi-sm">edit</i>
                  </button>
                </td>
                <td class="col-1 cell-center">
                  <button class="btn btn-outline-secondary btn-sm btn-outline"
                          (click)="openClientDelConfirm(i)">
                    <i class="material-icons mi-sm">delete_forever</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-dark"
                (click)="cancel()">Выход
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div *ngIf="isClientDelConfirmVisible">
  <app-client-del-confirm (onApply)="onClientDelConfirmApply()"
                          (onCancel)="onClientDelConfirmCancel()">
  </app-client-del-confirm>
</div>