<div class="modal in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Новый заказ</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div *ngIf="isCreated">
            <div class="alert alert-success">Заказ успешно создан</div>
          </div>
          <form [formGroup]="form">
            <div class="form-group row">
              <div class="col-10">
                <label for="client"
                       class="col-form-label">Клиент:</label>
                <ng-select id="client"
                           [items]="clientList"
                           class="form-control input-sm no-borders"
                           bindLabel="name"
                           bindValue="id"
                           notFoundText="Клиент не найден"
                           placeholder="Выберите клиента"
                           formControlName="client"
                           [ngClass]="{
                              'is-invalid': form.get('client').invalid && form.get('client').touched,
                              'is-valid': !form.get('client').invalid && form.get('client').touched}">
                </ng-select>
                <span *ngIf="form.get('client').invalid && form.get('client').touched"
                      class="invalid-feedback">
                  <span *ngIf="form.get('client').errors['required']">Обязательное поле!</span>
                </span>
              </div>
              <div id="list-button-container"
                   class="col-1">
                <button class="btn btn-outline-secondary btn-sm"
                        (click)="openClientList()">
                  <i class="material-icons">list</i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <label for="city"
                       class="col-form-label">Город:</label>
                <input id="city"
                       class="form-control"
                       type="text"
                       placeholder="Укажите город"
                       formControlName="city"
                       [ngClass]="{
                          'is-invalid': form.get('city').invalid && form.get('city').touched,
                          'is-valid': !form.get('city').invalid && form.get('city').touched}">
                <span *ngIf="form.get('city').invalid && form.get('city').touched"
                      class="invalid-feedback">
                  <span *ngIf="form.get('city').errors['required']">Обязательное поле!</span>
                </span>
              </div>
              <div class="form-group col-6">
                <label for="date"
                       class="col-form-label">Дата доставки:</label>
                <input id="date"
                       class="form-control"
                       type="date"
                       formControlName="date"
                       [ngClass]="{
                            'is-invalid': form.get('date').invalid && form.get('date').touched,
                            'is-valid': !form.get('date').invalid && form.get('date').touched}">
                <span *ngIf="form.get('date').invalid && form.get('date').touched"
                      class="invalid-feedback">
                  <span *ngIf="form.get('date').errors['required']">Обязательное поле!</span>
                </span>
              </div>
            </div>
            <div class="form-check row">
              <div class="col-12">
                <label for="important"
                       class="form-check-label">
                  <input id="important"
                         class="form-check-input"
                         type="checkbox"
                         formControlName="important"> Заказ важен
                </label>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="col-12">
                <label class="col-form-label">Заказываемая продукция (тыс.шт.):</label>
              </div>
              <div class="col-12">
                <table class="table table-hover">
                  <tbody>
                    <tr *ngFor="let newItemDetails of newItemDetailsList; let i = index"
                        class="d-flex">
                      <td align="cell-center"
                          class="col-7 text-left">
                        {{newItemDetails.productType.name}} &nbsp;
                        <i class="filled-circle"
                           [ngStyle]="{ 'background-color': newItemDetails.productType.colorCode }">
                        </i>
                        &nbsp; {{newItemDetails.productType.weight}}
                      </td>
                      <td align="cell-center"
                          class="col-3 text-left">{{newItemDetails.amount | exponent}}</td>
                      <td class="col-2 cell-center text-right">
                        <button class="btn btn-outline-secondary btn-sm btn-outline"
                                (click)="removeNewItem(i)">
                          <i class="material-icons">delete_forever</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <ng-select id="itemType"
                           class="form-control input-sm no-borders"
                           [items]="currentProductTypeList"
                           bindLabel="name"
                           bindValue="id"
                           notFoundText="Тип не найден"
                           placeholder="Выберите продукцию"
                           formControlName="itemType"
                           [ngClass]="{'is-invalid': showAddOrderItemErrors && form.get('itemType').invalid && form.get('itemType').pristine}">
                  <ng-template ng-label-tmp
                               let-item="item">
                    {{item.name}} &nbsp;
                    <i class="filled-circle"
                       [ngStyle]="{ 'background-color': item.colorCode }">
                    </i>
                    &nbsp; {{item.weight}}
                  </ng-template>
                  <ng-template ng-option-tmp
                               let-item="item">
                    {{item.name}} &nbsp;
                    <i class="filled-circle"
                       [ngStyle]="{ 'background-color': item.colorCode }">
                    </i>
                    &nbsp; {{item.weight}}
                  </ng-template>
                </ng-select>
                <span *ngIf="showAddOrderItemErrors && form.get('itemType').invalid && form.get('itemType').pristine"
                      class="invalid-feedback">
                  <span *ngIf="form.get('itemType').errors['required']">Обязательное поле!</span>
                </span>
              </div>
              <div class="col-4">
                <input id="itemAmount"
                       class="form-control input-sm"
                       type="number"
                       formControlName="itemAmount"
                       [ngClass]="{'is-invalid': showAddOrderItemErrors && form.get('itemAmount').invalid && form.get('itemAmount').pristine}">
                <span *ngIf="showAddOrderItemErrors && form.get('itemAmount').invalid && form.get('itemAmount').pristine"
                      class="invalid-feedback">
                  <span *ngIf="form.get('itemAmount').errors['required']">Обязательное поле!</span>
                  <span *ngIf="form.get('itemAmount').errors['min'] || form.get('itemAmount').errors['decimalPlacesError']">Неверный формат!</span>
                </span>
              </div>
              <div class="col-1">
                <button class="btn btn-outline-secondary btn-sm btn-outline"
                        (click)="addNewItem()">
                  <i class="material-icons">add</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-dark"
                [disabled]="form.get('client').invalid || form.get('city').invalid || form.get('date').invalid"
                (click)="submit()">Сохранить</button>
        <button class="btn btn-outline-dark"
                (click)="cancel()">Отмена</button>
      </div>
    </div>
  </div>
</div>