.modal.in {
    display: block;
}

.modal-dialog {
    min-width: 40vw;
}

#list-button-container {
    margin-top: 8.5%;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

.input-sm {
    height: 2.4rem;
    font-size: 0.9rem;
}

.input-sm.ng-select {
    margin: 0;
    padding: 0;
}

.btn-sm {
    height: 2.4rem;
}

.btn-outline {
    border: none;
}

.mi-sm {
    font-size: 18px;
}

table th, td {
    font-size: 0.9rem;
}

.cell-center {
    padding: 0px;
}

.filled-circle {
    padding: 0rem 0.5rem;
    border-width: 0.04rem;
    font-size: 12px;
}