.check-select::ng-deep .ng-value-container, ng-arrow-wrapper {            
    padding: 0px !important;
    margin: 0px !important;    
}

.check-select::ng-deep .ng-select .ng-select-container {
    width: fit-content !important;
    height: fit-content !important;
    min-height: 0px;
}

.check-select::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 0;
    text-align: left;
}

.check-select::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.check-select::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    background-color: rgb(220, 239, 255);
}

.check-select::ng-deep .ng-dropdown-panel {
    display: flex;
}

.check-select {
    display: flex;
    justify-content: center;
  }
