<div style="height: 100vh">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title text-center mb-0">Изменение пароля</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control"
                           placeholder="Логин"
                           formControlName="username"
                           type="text"
                           (input)="resetFormShowErr()"
                           autofocus
                           [ngClass]="{'is-invalid': (form.get('username').invalid && showValidErr) || showUserNotFound}">
                    <span *ngIf="(form.get('username').invalid && showValidErr) || showUserNotFound"
                          class="invalid-feedback">
                      <span *ngIf="form.get('username').hasError('required')">Обязательное поле!</span>
                      <span *ngIf="showUserNotFound">Имя пользователя не найдено!</span>
                    </span>
                  </div>
                  <div class="form-group">
                    <input class="form-control"
                           placeholder="Пароль"
                           formControlName="password"
                           type="password"
                           (input)="resetFormShowErr()"
                           [ngClass]="{'is-invalid': (form.get('password').invalid && showValidErr) || showPassIncorrect}">
                    <span *ngIf="(form.get('password').invalid && showValidErr) || showPassIncorrect"
                          class="invalid-feedback">
                      <span *ngIf="form.get('password').hasError('required')">Обязательное поле!</span>
                      <span *ngIf="showPassIncorrect">Неверный пароль!</span>
                    </span>
                  </div>
                  <hr>
                  <div class="form-group">
                    <input class="form-control"
                           placeholder="Новый пароль"
                           formControlName="newPassword"
                           type="password"
                           (input)="resetFormShowErr()"
                           [ngClass]="{'is-invalid': (form.get('newPassword').invalid && showValidErr) || showPassNotMatch}">
                    <span *ngIf="(form.get('newPassword').invalid && showValidErr) || showPassNotMatch"
                          class="invalid-feedback">
                      <span *ngIf="form.get('newPassword').hasError('required')">Обязательное поле!</span>
                      <span *ngIf="form.get('newPassword').hasError('minlength')">Пароль должен быть не менее {{ MIN_PASS_LENGTH }} символов!</span>
                      <span *ngIf="form.get('newPassword').hasError('maxlength')">Пароль должен быть не более {{ MAX_PASS_LENGTH }} символов!</span>
                    </span>
                  </div>
                  <div class="form-group">
                    <input class="form-control"
                           placeholder="Подтвердите пароль"
                           formControlName="confirmPassword"
                           type="password"
                           (input)="resetFormShowErr()"
                           [ngClass]="{'is-invalid': (form.get('confirmPassword').invalid && showValidErr) || showPassNotMatch}">
                    <span *ngIf="(form.get('confirmPassword').invalid && showValidErr) || showPassNotMatch"
                          class="invalid-feedback">
                      <span *ngIf="form.get('confirmPassword').hasError('required')">Обязательное поле!</span>
                      <span *ngIf="showPassNotMatch">Пароли не совпадают!</span>
                    </span>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <div class="col-7">
                      <button class="btn btn-primary btn-block"
                              (click)="onSubmit()">
                        Изменить
                      </button>
                    </div>
                    <div class="col-5">
                      <button class="btn btn-outline-secondary btn-block"
                              (click)="onCancel()">
                        Отмена
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>