#page-name {
    font-weight: bold;
    height: 40px;
    background-color: white;
    letter-spacing: 0.2rem;
    z-index: 1040;
}

.table-fit td, .table-fit th {
    white-space: nowrap;
    width: 1%;
}
